body{
    height: 100vh !important;
}

.flex_btn{
    margin: 10px;
  }

.allbtn{
    margin-top: 1rem;
}

.inputs{
    border-bottom: 2px solid gray;
    padding: 20px;
    border: none !important;
}
.inputwidth{
    width: 100%;
}
.inputswidth:focus{
    border:none;
}